---
import { getEntry } from "astro:content";

const currentLocale = Astro.currentLocale || "en";
const topBarEntry = await getEntry("globals", `top_bar_${currentLocale}`);
const { name = "matteo.v" } = topBarEntry?.data || {};

const { class: className = "", ...rest } = Astro.props;
---

<span class={className} {...rest}>{name}</span>
